<div class="yet-or-no-content p-1">
    <h1 class="text-center my-2">Confirm Action</h1>
    <div class="text-center my-3 f-1 warning">{{ data[0] }}</div>

    <!-- yes/no dialog -->
    <ng-container *ngIf="data[1]">
        <div class="w-100 ele-center d-flex jt-between mt-5">
            <button mat-raised-button color="warn" (click)="yesClick()" class="w-40">
                Yes
            </button>
            <!-- If dialog type is confirm -->
            <button mat-raised-button (click)="noClick()" class="w-40">
                No
            </button>
        </div>
    </ng-container>

    <!-- OK dialog -->
    <ng-container *ngIf="!data[1]">
        <div align="center" class="w-100">
            <button mat-raised-button (click)="yesClick()">OK</button>
        </div>
    </ng-container>
</div>

