<div class="yesOrNoContent p-1">
    <div class="text-center my-3 f-1 warning">{{ data[0] }}</div>

    <!-- yes/no dialog -->
    <ng-container *ngIf="data[1]">
        <div class="w-70 ele-center d-flex jt-between my-5">
            <button mat-raised-button color="warn" (click)="yesClick()" class="w-30">Yes</button>
            <!-- If dialog type is confirm -->
            <button mat-raised-button (click)="noClick()" class="w-30">No</button>
        </div>
    </ng-container>

    <!-- OK dialog -->
    <ng-container *ngIf="!data[1]">
        <div align="center" class="w-100">
            <button mat-raised-button (click)="yesClick()" class="">OK</button>
        </div>
    </ng-container>
</div>

