<div class="modal-container full-height">
    <mat-card class="mb-2" *ngFor="let word of data; let i = index">
        <mat-card-content class="black-board">
            <div class="d-flex jt-around f-1 mb-1">
                <div class="w-20">Word: </div>
                <div class="w-80">{{ word.voca }}</div>
            </div>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header
                        (opened)="panelOpenState = true"
                        (opened)="panelOpenState = false"
                    >
                        <mat-panel-title>
                            Details
                        </mat-panel-title>
                        <mat-panel-description>
                            Show details
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="d-flex jt-around mb-1">
                        <p class="my-1">Meaning: </p>
                        <p class="text-right">{{ word.definition }}</p>
                    </div>
                    <div class="d-flex jt-around mb-1">
                        <p class="my-1">Type: </p>
                        <p class="text-right">{{ word.typeId }}</p>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
    <button mat-raised-button (click)="closeDialog()" class="w-30 mb-3">Close</button>
</div>
