
<mat-card class="word-create-container" id="{{ indexCount }}">
    <div class="option-button-group">
        <button mat-icon-button (click)="resetWordList()"><mat-icon>refresh</mat-icon></button>
        <button mat-icon-button color="accent" (click)="removeWordBox()"><mat-icon>delete</mat-icon></button>
    </div>
    <mat-card-header class="word-create-header">
        <mat-card-title>
            No.{{ indexCount+1 }}: {{ wordSet.value.word }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="word-create-main">
        <form [formGroup]="wordSet">
            <!-- 1.Word -->
            <mat-form-field class="input-general">
                <mat-label>Word</mat-label>
                <input type="text" matInput name="word" [(ngModel)]="wordSet.value.word" formControlName="word" placeholder="Hello">
                <mat-error *ngIf="wordSet.get('word')?.hasError('required')">
                    Word is required
                </mat-error>
            </mat-form-field>
            <!-- 2.Meaning -->
            <div class="d-flex jt-between">
                <mat-form-field class="text-input-meaning">
                    <mat-label>Meaning</mat-label>
                    <textarea name="meaning" matInput placeholder="こんにちわ" [(ngModel)]="wordSet.value.meaning" formControlName="meaning"></textarea>
                    <mat-error *ngIf="wordSet.get('meaning')?.hasError('required')">
                        Word is required
                    </mat-error>
                </mat-form-field>
                <button mat-button class="auto-fill" (click)="chatAboutMeaning()">
                    <mat-icon>search</mat-icon>
                    Auto-fill
                </button>
            </div>
            <!-- 3.Use case -->
            <div class="d-flex jt-between">
                <mat-form-field class="text-input-use-case">
                    <mat-label>Use-case</mat-label>
                    <textarea name="useCase" matInput placeholder="Hello Mike." [(ngModel)]="wordSet.value.useCase" formControlName="useCase"></textarea>
                </mat-form-field>
                <button mat-button class="auto-fill">
                    <mat-icon>search</mat-icon>
                    Auto-fill
                </button>
            </div>
            <!-- 4.Synonymous -->
            <div class="d-flex jt-between">
                <mat-form-field class="text-input-use-case">
                    <mat-label>Synonym</mat-label>
                    <textarea name="synonymous" matInput placeholder="Hi, Hey" [(ngModel)]="wordSet.value.synonymous" formControlName="synonymous"></textarea>
                </mat-form-field>
                <button mat-button class="auto-fill">
                    <mat-icon>search</mat-icon>
                    Auto-fill
                </button>
            </div>
            <!-- 5.Word type and Favorite -->
            <div class="d-flex jt-between">
                <mat-form-field class="text-input-select">
                    <mat-label>Word type</mat-label>
                    <mat-select [(ngModel)]="wordSet.value.typeId" placeholder="E.g) Verb" name="typeId" formControlName="typeId">
                        <ng-container *ngFor="let wordType of wordService.wordTypesList">
                            <mat-option [value]="wordType.id">{{ wordType.type_jp }}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error *ngIf="wordSet.get('typeId')?.hasError('required')">
                        Word type is required
                    </mat-error>
                </mat-form-field>
                <mat-checkbox [(ngModel)]="wordSet.value.favoriteFlg" value="1" class="favorite-checkbox" formControlName="favorite_flg">
                    Add to Favorite list
                </mat-checkbox>
            </div>
        </form>
    </mat-card-content>
</mat-card>
