.register-container{
    width: 90%;
    margin: 4.5rem auto;
}

.add-create-card-container{
    padding: .5rem;
    width: 100%;
    margin: 0 auto;
}

.create-actions-container{
    display: flex;
    justify-content: space-around;
}

.input-button{
    width: 40%;
    height: 3rem;
    margin: .7rem auto .7rem auto;
}

.dictionary-link{
    margin-top: .3rem;
    text-align: end;
}


