 <main class="register-container">
    <div class="page-title-wrapper">
        <div class="page-title">Register Words</div>
        <div class="dictionary-link">
            <a routerLink="/dictionary"><mat-icon>library_books</mat-icon>To Dictionary</a>
        </div>
    </div>
    <div class="add-create-card-container">
        <ng-container *ngFor="let wordBox of wordFormGroup; let i = index">
            <app-create-word-box 
            [wordSet]="wordBox" 
            [indexCount]="i" 
            (validityChanged)="onValidityChanged($event)"
            (removeIndex)="removeItem($event)"
            ></app-create-word-box>
        </ng-container>
        <button mat-icon-button class="add-card-button" color="accent" (click)="addCreateBox()">
            <mat-icon>library_add</mat-icon>
        </button>
    </div>
    <div class="create-actions-container">
        <button mat-raised-button class="input-button" routerLink="/dashboard">Back</button>
        <button mat-raised-button color="primary" class="input-button" (click)="setToCreateWord()" [disabled]="!isWordFormGroupValid">All Set</button>
    </div>
 </main>