table td th{
    border: 1px solid black;
    padding: 1rem;
}

tbody tr{
    border: 1px solid black;
}

td{
    width: auto;
    padding: .6rem;
}

.edit-input{
    width: 100%;
    padding: .6rem;
    margin-top: auto;
    margin-bottom: auto;
    border: .7px solid #ebf5a2;
    background-color: #f8faed;
}

.mat-column-id{
    /* width: 8%; */
    text-align: center;
}

@media screen and (max-width : 768px) {
    .mat-column-created_date, .mat-column-updated_date{
        display: none;
    }

    .mat-column-id{
        width: 30%;
    }
}