.dashboard-container{
    width: 90%;
    margin: 5rem auto 0 auto;
}

#user-panel{
    background-color: #616eb9;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    padding: .9rem;
    text-align: center;
    height: 80%;
}

.account-info{
    width: 45%;
    display: flex;
    justify-content: center;
}

.thumbnail{
    width: 15%;
    border: #ce10df 3px solid;
    border-radius: 50%;
    margin: .4rem;
}

.user-history{
    width: 53%;
    height: 100%;
}

.history{
    display: inline-block;
    margin: 0 1rem;
    justify-content: center;
    line-height: 40px;
}

.feature{
    width: 40%;
    padding: .8rem;
    border: 1px solid #5e6cbb;
    margin-bottom: 2rem;
    text-decoration: none;
    color: black;
    background-color: #e0e4fc;
}