.dictionary-container{
    width: 98%;
    height: 100vh;
    background-color: #ebeeee;
    margin: 4.0rem 0 0;
}

.dictionary-main{
    display: flex;
    justify-content: space-between;
    margin: 4.5rem auto;
}

.dictinary-search{
    width: 65%;
}
.dictinary-status{
    width: 30%;
}

.detail-word-container{
    width: 30%;
    margin-top: 3.5rem;
    padding-top: 2rem;
}

