.dictionary-container{
    width: 98%;
    height: 100vh;
    background-color: #ebeeee;
    margin: 4.0rem 0 0;
    padding: .7rem;
}

.dictionary-main{
    display: flex;
    justify-content: space-between;
    margin: 4.5rem auto;
}

.dictinary-search{
    width: 65%;
}
.dictinary-status{
    width: 30%;
}