<mat-sidenav-container class="main-dictionary-content">
    <!-- Side Body -->
    <mat-sidenav mode="over" align="start" #detailSidenav class="detail-word-container">
        <app-dictionary-detail [wordSet]="wordSet"></app-dictionary-detail>
    </mat-sidenav>
    <!-- Main Body -->
    <mat-sidenav-content>
        <main class="dictionary-container">
            <div class="page-title">{{ username }}'s Dictionary</div>
            <span>Hello, {{ username }}!</span>
        
            <div class="dictionary-main">
                <!-- Table -->
                <div class="dictinary-search">
                    <app-search-dictionary 
                        (openDetailsNavEvent)="openDetailSidenav($event)"
                    ></app-search-dictionary>
                </div>
                <div class="dictinary-status">
                    <!-- Status -->
                    <app-status-dictionary></app-status-dictionary>
                </div>
            </div>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>



