<mat-card class="status-container">
    <mat-card-header class="status-header">
        <mat-card-title>{{ username }}</mat-card-title>
        <!-- todo users signed up date -->
        <mat-card-subtitle class="status-sub-title">Signed up since June 24 2018 </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="status-content">
        <div class="status">

        </div>
        <div class="status-details">
            
            <!-- Noun, Verb...etc -->
        </div>
    </mat-card-content>
</mat-card>
