/* You can add global styles to this file, and also import other style files */
@import "~@angular/cdk/overlay-prebuilt.css";

:host{
    --danger: red;
    --blackBoard: #1b4225;
    --blackBoardBorder: #593d26;
    --warning: yellow;
}

/* html, body { height: 100%; } */
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    margin-top: 90px;
    background-color: #faf9eb;
}

a:hover{
    opacity: .7;
    transition: 1.0;
    transform: scale(1.02);
}

.f-1{
    font-size: 1.1rem;
}

.f-2{
    font-size: 1.3rem;
}

.f-3{
    font-size: 1.5rem;
}

.f-4{
    font-size: 1.7rem;
}

.f-5{
    font-size: 1.9rem;
}

.f-6{
    font-size: 2.1rem;
}

.p-0{
    padding: 0;
}

.p-1{
    padding: .8rem;
}

.p-2{
    padding: 1rem;
}

.p-3{
    padding: 1.2rem;
}

.p-4{
    padding: 1.4rem;
}

.p-5{
    padding: 1.6rem;
}

.p-6{
    padding: 1.8rem;
}

.m-0{
    margin: 0;
}

.m-1{
    margin: .8rem;
}

.mt-1{
    margin-top: .8rem;
}

.mt-2{
    margin-top: 1rem;
}

.mt-3{
    margin-top: 1.2rem;
}

.mt-4{
    margin-top: 1.4rem;
}

.mt-5{
    margin-top: 1.6rem;
}

.mt-6{
    margin-top: 1.8rem;
}

.mb-1{
    margin-bottom: .8rem;
}

.mb-2{
    margin-bottom: 1rem;
}

.mb-3{
    margin-bottom: 1.2rem;
}

.mb-4{
    margin-bottom: 1.4rem;
}

.mb-5{
    margin-bottom: 1.6rem;
}

.mb-6{
    margin-bottom: 1.8rem;
}

.my-1{
    margin-top: .8rem;
    margin-bottom: .8rem;
}

.my-2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-3{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.my-4{
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}

.my-5{
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.my-6{
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}

.w-10{
    width: 10%;
}

.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

.w-80{
    width: 80%;
}

.w-90{
    width: 90%;
}

.d-flex{
    display: flex;
}

.f-wrap{
    flex-wrap: wrap;
}

.jt-center{
    justify-content: center;
}

.jt-between{
    justify-content: space-between;
}

.jt-around{
    justify-content: space-around;
}

.ai-center{
    align-items: center;
}

.ai-between{
    align-items: space-between;
}

.ai-around{
    align-items: space-around;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center{
    text-align: center;
}

.form-content {
    min-width: 150px;
    max-width: 1050px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.full-height{
    height: 540px;
}

.error-msg{
    color: var(--danger);
}

.ele-center{
    margin-left: auto;
    margin-right: auto;
}

.overflow-content{
    overflow-y: scroll;
    overflow-x: hidden;
}

.overflow-content-both{
    overflow-y: scroll;
    overflow-x: scroll;
}

.modal-container{
    width: 95%;
    padding: .6rem;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

.warning{
    color: var(--warning);
}

.app-loading-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-loading-indicator-backdrop {
background-color: rgba(0, 0, 0, .28);
}

.disable-text-decoration{
    text-decoration: none;
    color: #fff;
}

.home, .user{
    height: 27px !important;
    line-height: 27px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
