<main class="recording-main-container">
    <div class="title">
        <h1>Speech To Text</h1>
        <p>Recognize your speech to text</p>
    </div>
    <div class="recording-container">
        <div class="recording-area">
            <div>
                <button mat-raised-button color="primary" *ngIf="!isRecording && !blobUrl" (click)="startRecording()">Start Recording</button>
                <button mat-raised-button color="accent" *ngIf="isRecording && !blobUrl" (click)="stopRecording()">Stop Recording</button>
                <button mat-raised-button color="warn" *ngIf="!isRecording && blobUrl" (click)="clearRecordedData()">Clear Recording</button>
            </div>
            <br>
            
            <div>
                <audio #audioPlayer controls>
                    <source [src]="blobUrl" type="audio/webm">
                </audio>
            </div>
        </div>
        
        <div class="recording-status">
            <div class="record-status-time">
                <div class="record-left">Time</div>
                <div class="record-time">{{ recordedTime }}</div>
            </div>
            <div class="record-status-result">
                <div class="record-left">Result</div>
                <p class="record-recognition">{{ recgnizedText }}</p>
            </div>
        </div>
    </div>
</main>