<main class="recording-main-container">
    <div class="title">
        <div class="d-flex">
            <h1>Speech To Text</h1>
            <div class="mode-container">
                <ng-container *ngIf="recordMode">
                    <span class="speech-text-mode free-mode">FREE MODE</span>
                </ng-container>
                <ng-container *ngIf="!recordMode">
                    <span class="speech-text-mode save-mode">SAVE MODE</span>
                </ng-container>
            </div>
        </div>
        <p>Recognize your speech to text</p>
    </div>
    <div class="recording-container">
        <div class="recording-area">
            <div>
                <button mat-raised-button color="primary" *ngIf="!isRecording && !blobUrl" (click)="startRecording()">Start Recording</button>
                <button mat-raised-button color="accent" *ngIf="isRecording && !blobUrl" (click)="stopRecording()">Stop Recording</button>
                <button mat-raised-button color="warn" *ngIf="!isRecording && blobUrl" (click)="clearRecordedData()">Clear Recording</button>
            </div>
            <br>
            
            <div>
                <audio #audioPlayer controls>
                    <source [src]="blobUrl" type="audio/webm">
                </audio>
            </div>
        </div>
        
        <div class="recording-status">
            <div class="record-status-time">
                <div class="record-item">Time</div>
                <div>{{ recordedTime }}</div>
            </div>
            <div class="record-status-result">
                <div class="record-item">Result</div>
                <p>{{ recgnizedText }}</p>
            </div>
        </div>
    </div>
</main>