.recording-main-container{
    width: 100%;
    padding: 0.5rem;
}

.recording-container{
    display: flex;
    justify-content: space-around;
}

.recording-area{
    width: 60%;
    border: 1px solid #fff;
}

.recording-status{
    width: 40%;
    border: 1px solid #fff;
}

.record-status-time, .record-status-result{
    font-size: 1.1rem;
    display: flex;
    border: 1px solid #fff;
    padding: 0.5rem;
}

.record-status-result{
    height: 100%;
}

.record-left{
    width: 55%;
}

.record-time, .record-recognition{
    width: 40%;
}

.record-time{

}

.record-recognition{

}