.recording-main-container{
    width: 100%;
    padding: 0.5rem;
}

.recording-container{
    display: flex;
    justify-content: space-around;
}

.recording-area{
    width: 60%;
    border: 1px solid #fff;
}

.recording-status{
    width: 40%;
    border: 1px solid #fff;
}

.record-status-time, .record-status-result{
    font-size: 1.1rem;
    display: flex;
    font-size: 1.3rem;
    margin-bottom: .7rem;
}

.record-item{
    padding-right: .7rem;
}