<!-- Navigation -->
<mat-toolbar id="navigation" color="primary" class="d-flex jt-between">
  <div class="flex-container">
    <mat-icon (click)="sidenav.toggle()" class="menu-icon" *ngIf="authService.authenticationSubject.value">
      menu
    </mat-icon>
    <a routerLink="/dashboard" class="disable-text-decoration">
      <div>Word Picker</div>
    </a>
  </div>

  <ng-container *ngIf="authService.authenticationSubject.value">
    <div class="p-1">
      <a routerLink="mypage" class="d-flex disable-text-decoration">
        <mat-icon class="menu-icon">
          account_circle
        </mat-icon>
        {{ authService.usernameSubject?.value }}
      </a>
    </div>
  </ng-container>
</mat-toolbar>

<!-- Side navigation contents -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side">
      <mat-nav-list>
          <a mat-list-item routerLink=".">My Page</a>
          <a mat-list-item (click)="signOut()">Logout</a>
          <a mat-list-item routerLink=".">よくある質問</a>
          <a mat-list-item routerLink=".">設定</a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

