#navigation{
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    z-index: 2;
}

.menu-container{
    padding: .6rem;
    height: 150px;
    text-align: center;
}

.menu-icon{
    padding-right: .6rem;
    text-align: center;
}
.menu-icon:hover{
    cursor: pointer;
}

mat-sidenav-content {
    height: 100vh;
}
  
mat-sidenav {
    padding-top: 3.5rem;
    color: white;
    width: 210px;
}

@media screen and (max-width: 768px) {
    #username{
        display: none;
    }
}