<div id="navigation" class="flex-container">
  <!-- Tool bar -->
  <mat-toolbar color="primary" class="d-flex jt-between">
    <div class="flex-container">
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="authService.isAuthenticated()">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- menu content -->
      <mat-menu #menu="matMenu">
        <mat-list class="menu-container">
            <mat-list-item>
              <a routerLink (click)="moveToMypage()">My Page</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <a routerLink (click)="logout()" class="text-center">Logout</a>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
      </mat-menu>

      <div>
        <a routerLink="mainpage" class="disable-text-decoration">
          Word Picker
          <span *ngIf="authService.isAuthenticated()" class="home">
            <mat-icon class="home">home</mat-icon>
          </span>
        </a>
      </div>
    </div>
    <ng-container *ngIf="authService.isAuthenticated()">
      <div>
        <a routerLink="mypage" class="disable-text-decoration">
          <mat-icon class="user">
            account_circle
          </mat-icon>
          <span id="username">
            {{ authService.username }}
          </span>
        </a>
      </div>
    </ng-container>
  </mat-toolbar>
</div>