#navigation{
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    z-index: 1;
}

.menu-container{
    padding: .6rem;
    height: 150px;
    text-align: center;
}

.home{
    top: .20rem;
    position: relative;
}

.user{
    top: .35rem;
    position: relative;
}

.list-icon{
    margin-right: .6rem;
    opacity: .6;

}

.list-icon:hover{
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #username{
        display: none;
    }
}